 a[href $='.pdf'] {
    background: url(../doc_icon/pdf.png) no-repeat;
    padding-top: 8px;
    padding-left: 40px;
    display: inline-block;
    height: 40px;
    background-size: 30px 40px;
    margin-left: 17px;
}
 a[href $='.docx'] {
    background: url(../doc_icon/docx.png) no-repeat;
    padding-top: 8px;
    padding-left: 40px;
    display: inline-block;
    height: 40px;
    background-size: 30px 40px;
    margin-left: 17px;
}

 a[href $='.doc'] {
    background: url(../doc_icon/doc.png) no-repeat;
    padding-top: 8px;
    padding-left: 40px;
    display: inline-block;
    height: 40px;
    background-size: 30px 40px;
    margin-left: 17px;
}

 a[href $='.pptx'] {
    background: url(../doc_icon/pptx.png) no-repeat;
    padding-top: 8px;
    padding-left: 40px;
    display: inline-block;
    height: 40px;
    background-size: 30px 40px;
    margin-left: 17px;
}

.tabcontent a[href $='.ppt'] {
    background: url(../doc_icon/ppt.png) no-repeat;
    padding-top: 8px;
    padding-left: 40px;
    display: inline-block;
    height: 40px;
    background-size: 30px 40px;
    margin-left: 17px;
}

 a[href $='.xls'] {
    background: url(../doc_icon/xls.png) no-repeat;
    padding-top: 8px;
    padding-left: 40px;
    display: inline-block;
    height: 40px;
    background-size: 30px 40px;
    margin-left: 17px;
}

 a[href $='.xlsx'] {
    background: url(../doc_icon/xslx.png) no-repeat;
    padding-top: 8px;
    padding-left: 40px;
    display: inline-block;
    height: 40px;
    background-size: 30px 40px;
    margin-left: 17px;
}

 a[href *='www.youtube.com'] {
    background: url(../doc_icon/youtube.jpg) no-repeat;
    padding-top: 8px;
    padding-left: 50px;
    display: inline-block;
    height: 40px;
    background-size: 45px 30px;
    margin-left: 17px;
    background-position-y: 5px;
}