#deleted {
    position: absolute;
    right: 15px;
    top: 15px;
}
.sb-content {
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding-top: 15px;
}
#sb-form {
    width: 75%;
}

.documents {
    margin-bottom: 6px;
}
label {
    display: block;
}
.images {
    display: inline-block;
    width: 120px;
}
.images img {
    display: block;
    margin: 0 auto;
}
.delite-images {
    color: red;
    text-align: center;
}

form {
    margin-bottom: 50px;
}

/*---------------------------------------------------------------*/
/*                        ЛИЧНЫЙ КАБИНЕТ                         */
/*---------------------------------------------------------------*/
.personal .menu {
    width: 20%;
    padding: 20px 10px;
    background-color: #d8d8d8;
    float: left;
}
.personal .menu>ul {
    font-size: 13px;
}
.personal .content {
    width: 79%;
    float: right;
    padding: 15px;
    background-color: #f3f3f3;
}
#logout {
    position: absolute;
    right: 15px;

}